.landscape-page-container {
    margin: 25px;
}

.landscape-box {
    border: 3px solid white;
    border-radius: 25px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 3% 0;
    height: 250px;
    background-color: black;
    color: whitesmoke
}

.landscape-header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h4 {
    margin: 25px 0;
    text-align: center;
}