table,
th,
td {
  text-align: center;
  border: 1px solid black;
}

th {
  padding: 10px;
}

td {
  padding: 5px;
}

.initiative-order-container {
  margin: 25px;
}

.initiative-order-table-wrapper {
  margin: 0 auto;
}

.initiative-order-modify-button {
  color: blue !important;
}

.initiative-order-modify-button:hover {
  color: red !important;
  cursor: pointer;
}

.initiative-order-disclaimer-row {
  margin-top: 15px;
}

.initiative-order-disclaimer {
  font-size: 11px;
  font-weight: lighter;
}

.initiative-order-initiative-wrapper {
  margin-top: 25px;
  border: 1px solid black;
  padding: 10px;
  width: 300px;
}

.initiative-order-initiative-header {
  text-align: center;
}

.initiative-order-initiative-input {
  width: 50px !important;
}

.initiative-order-initiative-modifier {
  width: 50px !important;
}

.row {
  place-content: center;
}
