.profile-character-img {
    height: 200px;
}

.react-pdf__Page__annotations {
    display: none !important;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.modal-footer {
    margin: 0 auto;
}

.modal-open .character-sheet-modal {
    overflow: hidden
  }