.add-to-game {
  border: 1px solid black;
  margin: 15px;
  max-width: 600px;
  padding: 10px;
  width: 100%;

  #dm-query {
    margin-right: 8px;
  }

  &__inputs {
    &__container {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  }

  &__checkbox {
    margin-bottom: 5px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;

    button {
      width: 225px;
      margin: 8px 0;
      height: 50px;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}
