.profile-img-wrapper {
    margin: 25px 0 10px;
    border: 2px solid black;
    border-radius: 40px;
}

.profile-page-img {
    max-width: 200px;
    max-heigt: 300px;
    margin: 15px;
}

/* @media only screen and (max-device-width: 576px) {
    .profile-page-img {
        width: 100px;
        height: 100px;
    }
} */
