.profile-img-wrapper {
    margin: 25px 0 10px;
    border: 2px solid black;
    border-radius: 40px;
}

.profile-page-img {
    max-width: 200px;
    max-height: 300px;
    margin: 15px;
}

.profile-edit-img {
    position: relative;
    height: 20px;
    top: 40px;
    left: 215px;
}

Row {
    place-content: center;
}

.profile-page-add-to-game-wrapper {
    min-height: 150px;
}

.profile-page-spinner {
margin-top: 50px;
}