.navbar {
padding: 8px;

  &__icon {
    background: transparent;
    border: none;
    margin: 0 10px 0 0;

    &__img {
      height: 40px;
      width: 40px;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  &__account-button {
    border: none;
    background-color: transparent;
    color: black;
    margin-left: auto;
    display: flex;
    place-self: center;

    & > span {
      font-size: 43px;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;

    &.small {
      flex-direction: column;
    }

    &.large {
      & > button:last-of-type {
        margin-left: auto;
      }
    }

    & > .btn-link {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }


  }
}
