.navbar {
  padding: 8px;

  &__icon {
    background: transparent;
    border: none;
    margin: 0 10px 0 0;

    &__img {
      height: 40px;
      width: 40px;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  &__user {
    &-icon {
      border-radius: 8px;
      height: 35px;
      margin: 4px;
      width: 35px;
    }

    &-wrapper {
      border-radius: 50px;
      border: 1px solid black;
      height: 45px;
      margin-left: auto;
      width: 45px;
    }
  }

  &__sign-in-button {
    margin: 0 10px 0 auto;
  }
}
