.authentication {
  &__group-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  &__forgot-password {
    text-align: right;

    button {
      font-size: 12px;
    }
  }

  &__display-password {
    bottom: 32px;
    color: black;
    height: 0;
    position: relative;
    right: 10px;
    text-align: right;

    :hover {
      color: gray;
    }
  }

  &__box {
    background-color: white;
    border-radius: 25px;
    border: 2px solid grey;
    margin: 0 auto;
    max-width: 1000px;
    padding: 3% 0;
  }

  &__users-name {
    &__container {
      display: flex;

      div {
        width: 100%;
      }

      @media screen and (min-width: 992px) {
        div:first-child {
          margin-right: 10px;
        }

        div:last-child {
          margin-left: 10px;
        }
      }

      @media screen and (max-width: 992px) {
        flex-direction: column;

        div:last-child {
          margin-top: 10px;
        }
      }
    }
  }

  &__header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  &__form-container {
    width: 75%;
    margin: 15px auto 10px;

    > div:last-child {
      margin-top: 20px;
    }
  }

  &__submit {
    margin: 0 auto;
    text-align: center;
  }

  &__alt-option {
    margin: 10px auto 0;

    &__container {
      font-weight: 700;
      text-align: center;
    }
  }

  &__or {
    border-bottom: 1px solid black;
  }
}
