.change-language {
  &__body {
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 228px);
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(auto-fill, 100%);
    }

    button {
      margin: 8px 0;
      width: 100%;
    }
  }
}
