.other-games {
  border: 2px solid black;
  border-radius: 10px;
  margin: 40px 10px 10px;

  &__header {
    font-size: 32px;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
  }

  &__games-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  &__card {
    background-color: lightgray;
    height: 5em;
    margin: 10px;
    width: 15rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      border: 1px solid black;
    }
  }
}
